body {
    font-family: 'Sevillana', cursive;
    background-color: lightblue;
}

/* #quote-box {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* #author {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
} */



/* #text {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#new-quote,
#new-tweet {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#veigarThumb {
    margin: 5px;
    max-height: 50px;
    width: auto;
    border-radius: 10px;
}

blockquote{
    font-size: 30px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: .5em 10px;
    padding: 0 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
  }
  
  blockquote:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
  }
  
  p{
    margin: 0;
  }
  
  footer{
    margin:0;
    text-align: right;
    font-size: 1em;
    font-style: italic;
  }